body {
    margin: 0;
    background-color:#FBE4FF ;
    height: 2865px;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.header__nav {
    width: 100%;
    height: 80px;
    background-color: #243B93;
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    font-family: PT Sans;
    font-weight: 200;
    color: #FFF;
    text-align: center;
    padding:7px 0 7px 0;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.header__nav  div {
    width: 4rem;
    display: flex;
    color: #FFFFFF;
    align-items: center;
    justify-content:space-around;
    
}
    
    

.header__nav>.logo {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items:center;
    /* padding-left: 50px; */

}

.logo img {
    width: 100%;
    height: 100%;

}
.header__nav a {
    text-decoration: none;
    color:#FFF;
}

.glob {
    display: flex;
    width: 4rem;
    color: #FFFFFF;
}
.ua {
    display: flex;
    width: 4rem;
    font-size: 1.7rem;
    font-family: PT Sans;
    font-weight: 200;
    color: #FFFFFF;
}

.subheader {
    width: 100%;
    height: 90px;
    background-color: #BFF0FF;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 95px;
}
.subheader span {
    display: inline-block;
    color: #202846;

font-family: PT Sans;
font-size: 2.7rem;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.main-header {
    width: 69%;
    height: 57px;
    background-color: #FFFFFF;
    margin: 2.3rem auto;
    text-align: center;
    
}

.txt {
    width: 451px;
    color: rgba(0, 0, 0, 0.70);
    text-align: center;
    font-family: PT Sans;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px auto;

}

 .card {
    width: 70%;
    height: 300px;
    margin: 35px auto;
    text-align: left;
    background-image: linear-gradient(93deg, #A9CBD6 0%, #0AB1E6 100%); 
    position: relative;
    box-sizing: border-box;
    

}
.card:hover{
    background: #2CBDEB;
    box-shadow: 0 0 60px 4px #2CBDEB;
.batton{ background-color: #EF075B;
} 
}
.card:hover path{
    fill: yellow;
}


.card svg {
    position: absolute;
    top: 2px;
    right: 5px;
}
.batton {
    width: 210px;
    height: 46px;
    border-radius: 30px;
    background-color: #243B93;
    position: absolute;
    bottom: 2px;
    right: -50px;
    font-size: 1.2rem;
    font-family: PT Sans;
    font-weight: 400;
    color:#FFF;
    text-align: center;
    padding: 8px;
}   


.card-txt {
    width: 60%;
    height: 250px;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 410px;
    
    
}
.card-txt> p {
    height: 200px;
    color: #202846;

    font-family: PT Sans;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    margin: 0;
    }
.card> span {
    width:60.7% ;
    height: 2.5rem;
    text-align: left;
    color: #353C57;
    display: inline-block;
    font-family: PT Sans;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #FFF;
    position: absolute;
    top: -8px;
    left: 20rem;
    }
.card img {
    width: 30%;
    height: 250px;
 
}
.bat {
    width: 101px;
    height: 101px;
    position: absolute;
    bottom: 55px;
    right: -65px;
 
}
.min_footer {
    width: 100%;
    height: 85px;
    padding-top: 15px;
    padding-left: 299px;
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%); ;
}
.min_footer > span{
    width: 400px;
    color: #243B93;
    font-family: PT Sans;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;

}
.pers_data {
    width: 70%;
    height: 500px;
    background:linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.50) 100%); ;
    margin: 35px auto;
    display: flex;
    flex-direction: row;
}
.icon {
    width: 35%;
    padding: 77px 65px;

}
.avatar {
    width: 10.1rem;
    background-color: #243B93;
    color: #FFF;
    border-radius: 30px;
    text-align: center;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
}
.avatar_2 {
    width: 10.1rem;
    border-radius: 30px;
    background: #EF075B;
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
}
.data {
    width: 60%;
    flex-direction: column;
    align-self: center;

}
.data span {
    margin-left: 1.5rem;
    color: #353C57;
    font-family: PT Sans;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    }
.item {
    width: 96%;
    border-bottom: 1px solid #FFF;
    display: flex;
    margin: 1rem;
    
    

}
.sex {
    color: #353C57;
    font-family: PT Sans;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.name {
    color: #353C57;

    font-family: PT Sans;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.birthday {
    color: #353C57;

    font-family: PT Sans;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.phone {
    color: #353C57;

    font-family: PT Sans;
    font-size: 2.20rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.email {
    color: #353C57;

    font-family: PT Sans;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
}
.batton_f {
    width: 10.1rem;
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto;
    border-radius: 30px;
    background: #243B93;
    display: block;
    text-transform: uppercase;

}
.footer_h {
    margin: 35px 0;
    width: 100%;
    height: 85px;
    padding-top: 15px;
    padding-left: 299px;
    background: linear-gradient(270deg, #FFE601 0%, #55D6FF 100%); ; 
}
.footer_h > span{
    width: 400px;
    color: #243B93;
    font-family: PT Sans;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  
}
.footer {
    width: 70%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.box {
    width: 33%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.number {
    width: 100%;
    color: #000;
    border-top: 2px solid #000;
    text-align: center;
    font-family: PT Sans;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.contact {
    width: 100%;
    color: #000;
    font-family: PT Sans;
    font-size: 1.56rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    
}
.map {
    width: 33%;
    height: 300px;
    border-radius: 40px;
    /* border: 3px solid #243B93; */
    background-image:url("../image/фото\ карти.png");
    background-repeat: no-repeat;
}
.basement {
    width: 100%;
    height: 65px;
    background: #243B93;
}
.basement div {
    color: #FFF;
    font-family: PT Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.56px;
    display: flex;
    margin-top: 22px;
    padding-top: 19px;
    padding-left: 330px;
}
